@model LeamosColombiaProject.Models.Proveedor


@{
    ViewData["Title"] = "Proveedores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="card">
        <div class="card-body wizard-content">
            <h4 class="card-title">Crear proveedor</h4>
            <form id="example-form" asp-action="Create" class="mt-4">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Nombre">Proveedor <span style="color: red;">*</span></label>
                            <input asp-for="Nombre" id="Nombre" class="form-control" placeholder="Ingresa el nombre del proveedor" data-rule-required="true" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Identificacion">Identificación(NIT/CC) <span style="color: red;">*</span></label>
                            <select asp-for="Identificacion" id="Identificacion" class="form-control select2" data-rule-required="true">
                                <option selected disabled value="Selecciona el tipo de identificación">Selecciona el tipo de identificación</option>
                                <option value="NIT">NIT</option>
                                <option value="CC">CC</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="numeroIdentificacion">Número de identificación <span style="color: red;">*</span></label>
                            <input asp-for="numeroIdentificacion" id="numeroIdentificacion" class="form-control" placeholder="Ingresa el número de identificación " data-rule-required="true" data-rule-digits="true" data-rule-minlength="9" data-rule-maxlength="10" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Direccion">Dirección <span style="color: red;">*</span></label>
                            <input asp-for="Direccion" id="Direccion" class="form-control" placeholder="Ingresa la dirección" data-rule-required="true" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Encargado">Encargado <span style="color: red;">*</span></label>
                            <input asp-for="Encargado" id="Encargado" class="form-control" placeholder="Ingresa el nombre del encargado " data-rule-required="true" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Correo">Correo electrónico <span style="color: red;">*</span></label>
                            <input asp-for="Correo" id="Correo" class="form-control" placeholder="Ingresa el correo electrónico" data-rule-required="true" data-rule-email="true" />
                        </div>
                    </div>

                </div>
                <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                            <label for="Telefono">Teléfono <span style="color: red;">*</span></label>
                            <input asp-for="Telefono" id="Telefono" class="form-control" placeholder="Ingresa el número de teléfono " data-rule-required="true" data-rule-digits="true" data-rule-minlength="7" data-rule-maxlength="11" />
                    </div>
                </div>
                </div>
                <div>
                    <select asp-for="Estado" hidden class="form-control">
                        <option value="True">Activo</option>
                    </select>
                    <p class="mt-2">(<span style="color: red;">*</span>) Obligatorio</p>
                </div>
                <div class="mt-3">
                    <a asp-action="Index" class="btn btn-secondary" title="Volver a la vista de proveedores">Volver</a>
                    <input type="submit" value="Crear" class="btn btn-primary" title="Confirmar la creación de un proveedor nuevo"/>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <script>

        $(document).ready(function () {
            $.validator.addMethod("tieneDominio", function (value) {
    // Devuelve true si la cadena contiene al menos un dominio
    return /\.[a-zA-Z]+$/.test(value);
}, "El correo debe contener al menos un dominio.");
            $('#example-form').validate({
                errorClass: "text-danger",
                errorPlacement: function (error, element) {
                    if (element.is("select") && element.hasClass("select2")) {
                        error.insertAfter(element.next('.select2-container')).addClass("text-error-below");
                    } else {
                        error.insertAfter(element);
                    }
                },
                rules: {
                    Nombre: {
                        required: true,
                        maxlength: 50
                    },
                    Encargado: {
                        required: true,
                        maxlength: 50
                    },
                    Identificacion: {
                        required: true,
                    },
                    numeroIdentificacion: {
                        required: true,
                        digits: true,
                        minlength: 9,
                        maxlength: 10
                    },
                    Correo: {
                        required: true,
                        email: true,
                        maxlength: 60,
                        tieneDominio: true
                    },
                    Direccion: {
                        required: true,
                        maxlength: 30
                    },
                    Telefono: {
                        required: true,
                        digits: true,
                        minlength: 7,
                        maxlength: 11
                    }
                },
                messages: {
                    Nombre: {
                        required: "Este campo es obligatorio.",
                        maxlength: "Ingresa máximo {0} caracteres." // Mensaje de longitud máxima
                    },
                    Encargado: {
                        required: "Este campo es obligatorio.",
                        maxlength: "Ingresa máximo {0} caracteres." // Mensaje de longitud máxima
                    },
                    Identificacion: {
                        required: "Este campo es obligatorio."
                    },
                    numeroIdentificacion:{
                        required: "Este campo es obligatorio.",
                        digits: "Ingresa solo dígitos.",
                        minlength: "Ingresa mínimo {0} caracteres.",
                        maxlength: "Ingresa máximo {0} caracteres." // Mensaje de longitud máxima
                    },
                    Correo: {
                        required: "Este campo es obligatorio.",
                        email: "Ingresa un correo electrónico válido.",
                        maxlength: "Ingresa máximo {0} caracteres." // Mensaje de longitud máxima
                    },
                    Direccion: {
                        required: "Este campo es obligatorio.",
                        maxlength: "Ingresa máximo {0} caracteres." // Mensaje de longitud máxima
                    },
                    Telefono: {
                        required: "Este campo es obligatorio.",
                        digits: "Ingresa solo dígitos.",
                        minlength: "Ingresa mínimo {0} caracteres.",
                        maxlength: "Ingresa máximo {0} caracteres." // Mensaje de longitud máxima
                    }
                }
            });
        });
    </script>
}